@import 'tailwindcss';

body {
    font-family: 'Arial', 'Courier New', sans-serif;
    margin: 0;
    padding: 0;
}

.focus-element {
    @apply rounded-xl focus:ring-[1px] focus:ring-white focus:ring-offset-[1px] focus:outline-none p-1;
}
